* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  overflow: hidden;
}

body{
  background-color: black;
}
main {
/* min-width: 100vh; */
  min-height: 100vh;
  background: linear-gradient(to right top, 	#23917b,#23917b, #068e3d);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.glass {

  /* position: absolute; */
  /* min-width: 80vh; */
  min-height: 80vh;
  width: 60%;

  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(1.5rem);

  display:flex;
}

.circleTop {

background: white;
  background: linear-gradient(to top right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));

height:  15rem;
width:  15rem;
border-radius: 50%;

  position: absolute;
  top: 5%;
  left: 15%
}

.circleBottom {

background: white;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));

height:  20rem;
width:  20rem;
border-radius: 50%;

  position: absolute;
  top: 60%;
  left: 75%

}

.ball{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: linear-gradient(to left top, rgba(255, 0, 0, 0.9), rgba(255, 255, 255, 0.4));
  position: absolute;

  top: 0;
  left: 0 ;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.dashboard{
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;

  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
  border-radius: 2rem;

}

.link{
  display: flex;
  margin: 2rem, 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.link h2{
padding: 0rem 2rem;
}

.box{
  background: linear-gradient(to right bottom, rgba(35, 145, 123, 0.6),rgba(6, 142, 61, 0.6), rgba(6, 142, 61, 0.6));
  height: inherit;
  width: inherit;
  border-radius: 2rem;
  color: white;
  padding: 1rem 4rem;
}



.about{
  flex: 2;
}


img{
  heigh: 100px;
  width: 100px;
}

.link img{
  height: 50px;
  width: 50px;
}
